---
import { slugifyStr } from "@/utils/slugify";
import type { CollectionEntry } from "astro:content";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";
import getReadingTime from "@/utils/getReadingTime";
import { t } from "@/i18n";

export interface Props extends CollectionEntry<"blog"> {
  variant?: "h2" | "h3";
  wrapperClass?: string;
}

const { variant = "h2", data, id, filePath, wrapperClass } = Astro.props;

const { title, description, pubDatetime, modDatetime, timezone } = data;

const readingTime = getReadingTime(
  (Astro.props as CollectionEntry<"blog">).body || ""
);

const headerProps = {
  style: { viewTransitionName: slugifyStr(title) },
  class: "text-lg font-medium decoration-dashed hover:underline",
};
---

<li class:list={["my-6", wrapperClass]}>
  <a
    href={getPath(id, filePath, true, data.lang, data.slug)}
    class="inline-block text-lg font-medium text-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {
      variant === "h2" ? (
        <h2 {...headerProps}>{title}</h2>
      ) : (
        <h3 {...headerProps}>{title}</h3>
      )
    }
  </a>
      <ul class="text-muted-foreground flex flex-wrap items-center gap-y-1 text-sm">
        <li class="inline-flex items-center after:mx-2 after:text-muted-foreground after:opacity-70 after:content-['•']">
          <Datetime {pubDatetime} {modDatetime} {timezone} />
        </li>
        <li class="inline-flex items-center">
          <span class="whitespace-nowrap">
            {readingTime}
            {t("minutesRead", data.lang)}
          </span>
        </li>
      </ul>
  <p>{description}</p>
</li>
